* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(5, 35, 46);
    color:rgb(255, 218, 8);
    }
    
    .header {
    font-size: 50px;
    text-align: center;
    }
    
    #array {
    background-color:  rgb(155, 167, 206);
    height: 305px;
    width: 598px;
    margin: auto;
    position: relative;
    margin-top: 64px;
    }
    
    .block {
    width: 28px;
    background-color: #6b5b95;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
    }
    
    .block_id {
    position: absolute;
    color: rgb(255, 218, 8);
    margin-top: -20px;
    width: 100%;
    text-align: center;
    }
    #btn{
        border: 1px solid whitesmoke;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }